@import "@/variables";

.cont {
	--width: 32px;
	--height: 10px;
	--handle-height: 10px;
	--bar-height: 10px;
	--checked: var(--accent-0);

	position: relative;
	display: inline-block;

	width: var(--width);
	height: var(--height);

	text-align: left;
	direction: ltr;
	touch-action: none;
	user-select: none;
	cursor: pointer;

	transition: opacity 0.25s;

	&.dragging {
		.handle {
			transition: none !important;
		}
	}

	&.checked {
		.handle .inner_handle {
			background-color: var(--checked);
		}
	}

	&:hover {
		// .bg {
		// 	filter: brightness(1.1) saturate(1.1);
		// }
		.bg {
			background-color: var(--deep-35);
		}
		.handle .inner_handle {
			// background-color: var(--deep-6);
			filter: brightness(1.2) saturate(1.2);
		}
	}

	&:focus-within {
		.bg {
			background-color: var(--deep-4);
		}
	}

	&.disabled {
		pointer-events: none;
		.inner_handle {
			background-color: var(--deep-3);
		}
	}
}

.bg {
	position: absolute;
	width: var(--width);
	height: var(--bar-height);

	box-sizing: content-box;
	border: solid 6px var(--deep-2);
	top: calc((var(--height) - var(--bar-height)) / 2 - 6px);
	left: -6px;

	background-color: var(--deep-3);
	transition: background-color 0.25s;
	cursor: pointer;
}

.input {
	position: absolute;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	padding: 0;
	appearance: none;
}

.handle {
	position: absolute;
	display: inline-block;

	top: calc(var(--bar-height) / 2);

	transition: left 0.25s;
}

.inner_handle {
	position: absolute;

	height: var(--handle-height);
	width: var(--handle-height);
	transform: translate(-50%, -50%);

	// border-radius: 50%;
	background-color: var(--deep-5);

	transition: all 0.2s;

	// box-sizing: content-box;
	// border: solid 4px var(--deep-4);
}
