/**
 *
 * Panel Styles
 *
 */
@import "@/variables";

.cont {
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	color: var(--deep-5);
	background-color: var(--deep-2);

	font-family: "Roboto Mono", monospace;
	font-size: 15px;
	letter-spacing: 1px;

	main {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: stretch;
	}

	section {
		min-width: 500px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	textarea {
		letter-spacing: 1px;
	}

	@media only screen and (max-height: 400px) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100dvw;
		height: 100dvh;
		opacity: 0.8;
		overflow-y: scroll;
		min-width: unset;
	}

	@media (orientation: portrait) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100dvw;
		height: 100dvh;
		opacity: 0.8;
		overflow-y: scroll;
		min-width: unset;
	}

	button:has(svg) {
		font-size: 20px;
		background-color: transparent;
		padding: 0px;
		&:hover {
			background-color: transparent;
			color: #f88;
		}
	}

	.select {
		--line-width: 100%;
		--line-height: 40px;
		--background-color: var(--deep-3);
		--color: var(--deep-5);
		--selected-bg: var(--deep-4);
		--border: none;

		font-size: 15px;
		--align: left;

		[data-item],
		[data-button] {
			padding: 0 10px;
		}
	}

	&.connected {
		.led[data-connected] {
			background-color: #5f5;
		}
	}

	&.active {
		.led[data-active] {
			background-color: #5f5;
		}
	}
}

.leds {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	padding: 0 5px;
}

.led {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #f88;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;
	gap: 20px;

	&:not(:last-child) {
		border-bottom: $border;
	}
}

[data-status] {
	color: #f88;
	align-items: center;
	text-transform: capitalize;

	span {
		flex: 1;
	}
}

.col {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-shrink: 0;
	flex-grow: 1;

	label {
		white-space: nowrap;
	}

	input {
		background-color: var(--deep-4);
	}
}

[data-prompt] {
	flex: 1;

	textarea {
		height: 100%;
	}
}

.connections {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-left: $border;
	padding: 10px;
}

.connection {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;

	cursor: pointer;

	&[data-active] {
		cursor: default;
	}

	&[data-current] {
		color: #f88;
	}

	&[data-self] {
		color: #88f;
	}
}
