/**
 *
 * Panel Styles
 *
 */
@import "@/variables";

.cont {
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	color: var(--deep-5);
	background-color: var(--deep-2);

	font-family: "Roboto Mono", monospace;
	font-size: 13px;
	letter-spacing: 1px;

	main {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		overflow-y: scroll;
	}

	section {
		width: 400px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		// &:not(:last-child) {
		border-right: $border_2;
		// }
	}

	textarea {
		padding: 12px;
		letter-spacing: 1px;
	}

	button:has(svg),
	[data-check] {
		font-size: 20px;
		background-color: transparent;
		padding: 0px;
	}

	button:has(svg):hover {
		background-color: transparent;
		color: #f88;
	}

	[data-check] {
		&:hover {
			filter: brightness(1.5) saturate(1.5);
		}

		&[data-checked] {
			color: #7c7;
		}
	}

	.select {
		--line-width: 100%;
		--line-height: 40px;
		--background-color: var(--deep-3);
		--color: var(--deep-5);
		--selected-bg: var(--deep-4);
		--border: none;

		font-size: inherit;
		--align: left;

		[data-item],
		[data-button] {
			padding: 0 10px;
		}
	}

	&.connected {
		.led[data-connected] {
			background-color: #5f5;
		}

		&.active {
			.led[data-active] {
				background-color: #5f5;
			}
		}
	}

	@media only screen and (max-height: 400px) {
		position: absolute;
		top: 0;
		left: 0;
		// width: 100dvw;
		height: 100dvh;
		opacity: 0.95;
		// overflow-y: scroll;
		min-width: unset;
	}

	@media (orientation: portrait) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100dvw;
		height: 100dvh;
		opacity: 0.8;
		// overflow-y: scroll;
		min-width: unset;
	}
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 25px;

	padding: 15px 20px;

	span {
		flex: 1;
	}

	border-bottom: $border;

	.right {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;

		margin-left: auto;
	}
}

.row {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 15px;
	gap: 20px;

	&:not(:last-child) {
		border-bottom: $border;
	}

	&[data-1] {
		grid-template-columns: 1fr;
	}

	// &[data-2] {
	grid-template-columns: 1fr 1fr;
	// }

	&[data-3] {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&[data-4] {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.sep {
	border-bottom: $border;
}

.line {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

// .leds {
// 	flex: 1;
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	gap: 20px;
// 	padding: 0 5px;
// }

.led {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background-color: #f88;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 10px;
	// flex-shrink: 0;
	// flex-grow: 1;

	label {
		white-space: nowrap;
		width: 50%;
	}
}

.capture {
	&[data-checked] {
		color: #f88;
	}
}

.prompt {
	.col {
		gap: 20px;
	}

	textarea {
		height: 100%;
		max-height: 120px;
		&::placeholder {
			color: var(--deep-4);
		}
	}

	[name="negative_prompt"] {
		color: #f88;
	}
}

.heading {
	padding: 10px;
	border-bottom: $border;
}

.connections {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	// padding: 5px 0;

	border-bottom: $border;
}

.connection {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 5px 12px;

	&:first-child {
		padding-top: 8px;
	}

	&:last-child {
		padding-bottom: 8px;
	}

	cursor: pointer;

	&[data-active] {
		pointer-events: none;
		color: #f88;

		// 	&::before {
		// 		position: absolute;
		// 		left: -4px;
		// 		top: 0.5px;
		// 		font-size: 22px;
		// 		content: "•";
		// 		color: #f88;
		// 	}
	}

	&[data-current] {
		color: #f88;
	}

	&:hover {
		// text-decoration: underline;
		color: var(--deep-6);

		background-color: var(--deep-21);
	}

	// &[data-self] {
	// 	color: #88f;
	// }

	.active {
		color: #f88;
	}
}
