/**
 *
 * Panel Styles
 *
 */
@import "@/variables";

.lock {
	height: 100%;
}

.cont {
	height: 100%;
	position: relative;
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	color: var(--deep-5);
	background-color: var(--deep-2);

	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 350;
	font-variation-settings: "wdth" 100;
	font-size: 13px;
	letter-spacing: 1px;

	.header {
		position: relative;
		display: flex;
		align-items: center;
		height: 50px;
		padding: 0 15px;
		gap: 15px;
		border-bottom: $border;

		.sep {
			font-size: 14px;
			color: var(--deep-4);
		}

		button:has(svg),
		[data-check] {
			width: 32px;
			height: 32px;
		}

		[data-reset] {
			font-size: 20px;
		}

		.right {
			position: absolute;
			right: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 15px;
			padding-right: 10px;
			margin-left: auto;
		}
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		height: calc(100% - 50px);
	}

	section {
		width: 422px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		&:not(:last-child) {
			border-right: $border_2;
		}
	}

	textarea {
		padding: 8px;
		letter-spacing: 1px;
	}

	button:hover {
		filter: brightness(1.2);
	}

	[data-check] {
		&[data-checked] {
			color: #7c7;
		}
	}

	[name="reload"] {
		font-size: 19px;
	}

	[name="open"] {
		font-size: 16px;
	}

	[name="save"] {
		font-size: 18px;
	}

	[name="freeze"] {
		--checked: #f66;
	}

	.select {
		--line-width: 100%;
		--line-height: 40px;
		--background-color: var(--deep-3);
		--focus-color: var(--deep-35);
		--color: var(--deep-5);
		--selected-bg: var(--deep-35);
		--border: none;

		font-size: inherit;
		--align: left;

		[data-item],
		[data-button] {
			padding: 0 10px;
		}
	}

	&.connected {
		.led[data-connected] {
			background-color: #5f5;
		}
	}

	@media only screen and (max-height: 400px) {
		position: absolute;
		top: 0;
		left: 0;
		// width: 100dvw;
		height: 100dvh;
		opacity: 0.95;
		// overflow-y: scroll;
		min-width: unset;
	}

	@media (orientation: portrait) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100dvw;
		height: 100dvh;
		opacity: 0.8;
		// overflow-y: scroll;
		min-width: unset;
	}
}

.row {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 15px 15px;
	gap: 20px;

	// &:not(:last-child) {
	border-bottom: $border;
	// }

	&[data-1] {
		grid-template-columns: 1fr;
	}

	// &[data-2] {
	grid-template-columns: 1fr 1fr;
	// }

	&[data-3] {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&[data-4] {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	&[data-5] {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

.sep {
	border-bottom: $border;
}

.line {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.leds {
	position: absolute;
	left: 4px;
	top: 4px;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3px;
}

.led {
	width: 3px;
	height: 3px;
	border-radius: 50%;

	background-color: #f55;

	&[data-state="connecting"] {
		background-color: #ee0;
	}
	&[data-state="connected"] {
		background-color: #4e4;
	}
}

.col {
	display: flex;
	flex-direction: column;
	gap: 10px;

	label {
		white-space: nowrap;
		width: 50%;
	}
}

.capture {
	&[data-checked] {
		color: #f88;
	}
}

.prompt {
	.col {
		gap: 20px;
	}

	textarea {
		height: 100%;
		max-height: 120px;
	}

	[name="negative_prompt"] {
		color: #f88;
	}
}

.heading {
	padding: 10px;
	border-bottom: $border;
}

.connections {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-y: scroll;

	background-color: var(--deep-1);
	flex: 1;
}

.connection {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 5px 12px;

	&:first-child {
		padding-top: 8px;
	}

	&:last-child {
		padding-bottom: 8px;
	}

	cursor: pointer;

	&[data-active] {
		pointer-events: none;
		color: #f88;
	}

	&[data-current] {
		color: #f88;
	}

	&:hover {
		color: var(--deep-6);
		background-color: var(--deep-21);
	}

	.active {
		color: #f88;
	}
}

.version {
	position: absolute;
	font-size: 10px;
	bottom: 10px;
	right: 10px;
}
