/**
 *
 * App Styles
 *
 */

@import "@/variables";

.cont {
	width: calc(100dvw - 2px);
	height: 100dvh;

	display: flex;
	align-items: stretch;

	box-sizing: border-box;

	&.show_source {
		.source {
			display: block;
		}
		.output {
			max-width: calc(50% - 5px);
		}
	}

	&.show_output {
		.output {
			display: block;
		}
		.source {
			max-width: calc(50% - 5px);
		}
	}

	@media (orientation: portrait) {
		flex-direction: column;
		.source {
			height: 50dvh;
		}
	}

	&.show_panel {
		.view {
			background-color: var(--deep-0);
			padding: 10px;
			gap: 10px;
		}
	}
	// flex-direction: column;

	// .video {
	// object-fit: contain;
	// max-height: calc(50dvh - 15px);
	// max-height: 50dvh;
	// max-width: 50%;
	// 		}
	// 	}
	// }
}

.view {
	flex: 1;
	display: flex;
	align-items: stretch;
	overflow: hidden;

	box-sizing: border-box;
}

.video {
	flex: 1;
	object-fit: cover;
	display: none;
	max-width: 100%;
	max-height: 100%;
}

// .output {
// 	flex: 1;
// 	object-fit: cover;
// 	display: none;
// }

// .image {
// 	flex: 1;
// 	min-width: 50dvh;
// 	min-height: 50dvh;
// 	object-fit: cover;
// 	display: none;
// }

.error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	padding: 20px;
	border-radius: 2px;
	background-color: #973e3e66;
	pointer-events: none;

	color: #fcc;
	letter-spacing: 2px;
	text-transform: uppercase;

	transition: all 0.2s;
}
