/**
 *
 * App Styles
 *
 */

@import "@/variables";

.cont {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: stretch;

	box-sizing: border-box;

	&.original {
		.video {
			display: block;
		}
	}
}

// .main {
// 	flex: 1;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: stretch;
// }

.video {
	display: none;
	min-width: 50%;
	flex: 1;

	aspect-ratio: 16 / 9;
}

.image {
	flex: 1;
	min-width: 50%;
	position: relative;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
	// opacity: 0;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		transition: opacity 0.2s;
	}
}

.error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	padding: 20px;
	border-radius: 2px;
	background-color: #973e3e66;
	pointer-events: none;

	color: #fcc;
	letter-spacing: 2px;
	text-transform: uppercase;

	transition: all 0.2s;
}
