@import "@/vars";
@import "@/fonts";

// Top level

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

html {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 350;
	font-variation-settings: "wdth" 100;
	font-size: 13px;

	--header-height: 50px;
}

body {
	color: $deep-5;
	background-color: $deep-05;
	position: relative;
}

#root {
	width: 100%;
	height: 100%;
}

// General

::-webkit-scrollbar {
	display: none;
}

*:focus-visible {
	outline: none;
	filter: brightness(1.1);
}

ul {
	padding-inline-start: 0;
	padding-inline-end: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

button {
	// reset
	appearance: none;
	border: unset;
	line-height: inherit;
	word-spacing: inherit;
	text-shadow: inherit;
	text-rendering: inherit;
	text-indent: inherit;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 0;
	padding-inline: 0;

	// defaults
	padding: 6px;
	font-size: 20px;
	border-radius: 2px;

	color: $deep-5;
	background-color: transparent;

	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: inherit;
	user-select: none;

	&:hover {
		filter: brightness(1.2) saturate(1.1);
	}

	> * {
		pointer-events: none;
	}

	&:focus-visible {
		outline: none;
		background-color: $deep-25;
		filter: brightness(1.2);
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
		color: $deep-4;
	}
}

a {
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus {
		color: $deep-6;
	}

	&:focus-visible {
		outline: none;
	}

	&.active {
		pointer-events: none;
		color: $deep-6;
	}
}

input {
	appearance: none;
	background-color: unset;
	border: unset;
	color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-shadow: inherit;
	text-rendering: inherit;
	text-indent: inherit;
	resize: none;
	cursor: text;
	font-size: inherit;
	font-family: inherit;

	&::placeholder {
		color: $deep-4;
	}

	&:focus {
		outline: none;
	}
}

input[type="text"],
textarea {
	// reset
	appearance: none;
	background-color: unset;
	border: unset;
	color: inherit;
	line-height: inherit;
	word-spacing: inherit;
	text-shadow: inherit;
	text-rendering: inherit;
	text-indent: inherit;
	resize: none;
	cursor: text;

	font-family: inherit;
	font-size: inherit;

	color: $deep-45;
	background-color: $deep-3;

	transition:
		color 0.2s,
		background-color 0.2s;

	&:focus-visible {
		color: $deep-5;
		background-color: $deep-35;
	}

	&::placeholder {
		color: $deep-4;
	}

	&:focus {
		outline: none;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Firefox */
input[type="number"] {
	all: unset;
	appearance: textfield;
	-moz-appearance: textfield;
}

textarea {
	border-radius: 2px;
	min-height: calc(4em + 24px);
}

input[type="range"] {
	// reset
	appearance: none;
	background-color: unset;
	border: unset;
	color: inherit;
	line-height: inherit;
	word-spacing: inherit;
	text-shadow: inherit;
	text-rendering: inherit;
	text-indent: inherit;
	cursor: pointer;

	// defaults
	margin: 0;
	padding: 0;

	font-size: 16px;
	letter-spacing: 1px;
	font-family: inherit;
	user-select: none;

	&:focus {
		outline: none;
	}
}

.column {
	width: 422px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-y: scroll;

	background-color: $deep-2;
	&:not(:last-child) {
		border-right: $border-3;
	}
}

[data-spacer] {
	flex: 1;
}
