/**
 *
 * CueList Styles
 *
 */
@import "@/variables";

.cont {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&.dragging {
		cursor: grabbing;
		.item {
			pointer-events: none;
		}
	}
}

.header {
	display: flex;
	padding: 15px;
	padding-right: 10px;
	gap: 10px;
	border-bottom: $border;

	input {
		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		flex: 1;
	}

	button {
		background-color: transparent;
	}
}

.save {
	color: #f66;
}

.list {
	flex: 1;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	overflow-y: scroll;
}

.item {
	display: flex;
	align-items: center;
	// justify-content: space-between;

	background-color: var(--deep-2);
	border-bottom: $border-2;
	white-space: pre;
	overflow: hidden;

	user-select: none;
	cursor: pointer;

	&:hover {
		.name {
			color: var(--deep-6);
		}
		background-color: var(--deep-21);
	}

	.name {
		flex: 1;
		// padding: 12px 15px;
		// &:hover {
		// 	color: var(--deep-6);
		// }
	}

	.handle {
		cursor: grab;
		padding: 12px;
		font-size: 16px;
		color: var(--deep-3);
	}

	.remove {
		color: #669;
		font-size: 16px;
		background-color: transparent;
		padding: 12px;

		&:hover {
			color: #f66;
		}
	}

	&[data-current] {
		background-color: var(--deep-25);
		.name {
			color: #7c7;
			// pointer-events: none;
		}
	}
}
