/**
 *
 * CueList Styles
 *
 */
@import "@/vars";

.cont {
	&.dragging {
		cursor: grabbing;
		.item {
			pointer-events: none;
		}
	}
}

.header {
	display: flex;
	padding: 15px;
	// padding-right: 10px;
	gap: 10px;
	border-bottom: $border;
	background-color: $deep-2;

	.cue_input {
		position: relative;

		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		flex: 1;

		input {
			padding: 0;
			height: 100%;
		}

		transition:
			color 0.2s,
			background-color 0.2s;

		color: $deep-45;
		background-color: $deep-3;

		&:focus-within {
			color: $deep-5;
			background-color: $deep-35;
		}
	}

	.add {
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
		color: $deep-4;
	}

	input {
		width: 100%;
	}

	button {
		background-color: transparent;
	}
}

.footer {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;

	background-color: $deep-15;
	border-top: $border-2;
}

.list {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	overflow-y: scroll;
	max-height: 100%;
	margin-bottom: -1px;
}

.item {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	// justify-content: space-between;
	// gap: 10px;

	background-color: $deep-2;
	color: $deep-42;

	border-bottom: $border-2;
	white-space: pre;
	overflow: hidden;

	user-select: none;

	button {
		font-size: 16px;
		width: 45px;
		height: 45px;
		color: $deep-3;
		padding: 0;

		&:focus-visible {
			background-color: transparent;
		}
	}

	.handle {
		width: 32px;
		font-size: 16px;
		cursor: grab;
		&:hover {
			color: $deep-4;
		}
	}

	.item_name {
		margin-left: 12px;
		flex-shrink: 0;
		letter-spacing: 0.92px;
	}

	input {
		color: #f66;
		flex-shrink: 0;
		// width: calc(100% - 8px);
		// padding: 10px 8px;
		// margin-left: -8px;
		// border-radius: 2px;
		background-color: transparent;
		padding: 0;
		letter-spacing: 0.92px;
		width: 300px;
	}

	.play {
		font-size: 24px;
		svg {
			transition: all 0.2s;
		}
		&:hover {
			color: #7c76;
		}
	}

	.remove {
		color: #669;
		background-color: transparent;
		display: none;

		&:hover {
			color: #f66;
		}
	}

	&:hover {
		filter: brightness(1.03) saturate(1.1);
	}

	&[data-selected] {
		color: $deep-42;
		background-color: $deep-25;
	}

	&[data-current] {
		.item_name {
			color: #7c7;
		}

		.play {
			color: #6c6d;
			pointer-events: none;
		}
	}
}

.changed {
	.item[data-current] {
		.play {
			pointer-events: all;
			color: #f66;
			svg {
				transition: all 0.2s;
			}
			&:hover {
				svg {
					transform: rotate(180deg);
				}
			}
		}
	}
}
