/**
 *
 * Check Styles
 *
 */
@import "@/variables";

.cont {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 16px;

	&.checked {
		[data-if-unchecked] {
			display: none;
		}
	}

	&:not(.checked) {
		[data-if-checked] {
			display: none;
		}
	}
}
