@import "@/vars";

.cont {
	position: relative;

	--line-width: 100%;
	--line-height: 40px;
	--align: left;

	--color: #{$deep-45};
	--background-color: #{$deep-3};
	--focus-color: #{$deep-35};
	--selected-bg: #{$deep-35};
	--border: none;

	&:focus {
		color: #{$deep-5};
	}

	letter-spacing: 0.8px;
	font-weight: 400;

	width: var(--line-width);
	height: var(--line-height);
	line-height: calc(var(--line-height) - 1px);

	color: var(--color);
	background-color: var(--background-color);

	cursor: pointer;

	&:focus-visible,
	&:focus-within {
		.open_button {
			background-color: var(--focus-color);
		}
	}
}

.menu {
	display: none;
	flex-direction: column;
	align-items: stretch;

	position: absolute;
	z-index: 10;
	left: 0;

	width: 100%;
	max-height: calc(var(--line-height) * 6 + 1px);

	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;

	border: var(--border);

	&::-webkit-scrollbar {
		width: 5px;
	}

	&.is_open {
		display: flex;
		filter: drop-shadow(0 0 5px #00000014);
	}
}

.menu_item,
.open_button {
	height: var(--line-height);
	width: 100%;
	padding: 0 5px;
	box-sizing: border-box;

	background-color: var(--background-color);

	text-align: var(--align);
	user-select: none;
	vertical-align: middle;

	&:hover {
		background-color: var(--selected-bg);
	}

	flex-wrap: nowrap;
	white-space: nowrap;
	overflow: hidden;
}

.open_button {
	border: var(--border);
}

.menu_item {
	border-top: var(--border);

	&[data-first] {
		border-top: none;
	}

	order: 2;
}

.selected_item {
	display: block;
	background-color: var(--selected-bg);
}

.current_item {
	display: block;
	order: 1;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}
